@model  IEnumerable<Instagram.ViewModel.Feed.FeedLikeViewModel>
<div class="modal-dialog">
    <div class="modal-header">
        <div class="pull-left">
            <i class="glyphicon glyphicon-heart"></i>
            <span>@Model.Count() người thích</span>
        </div>
        <div class="pull-right"><a href="#close" class="modal-close-btn">X</a></div>
    </div>
    <div class="modal-body liked">
        <ul class="list-group likedList">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    <div class="suggestion">
                        <div class="user">
                            <a href="#">
                                <img src="@Url.Content("~/UserPhoto/Avatar/" + item.User.Avartar)" alt="" class="img-responsive user-avatar" />
                            </a>
                            <div class="user-detail">
                                @item.User.FullName
                                <div class="pull-right">
                                    <div id="UserFollow@(item.User.UserId)">
                                        @Html.Partial("_FollowView", item.User)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>