@model IEnumerable<Instagram.ViewModel.Feed.UserViewModel>
@{
    ViewBag.Title = "Gợi ý cho bạn";
}
<div class="col-sm-12 padding-top">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            @Html.Partial("_SuggestionView", Model)
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

