body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F8F8F8;
    min-width: 450px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



.navbar {
    background: #365899;
}

.navbar-inverse .navbar-nav > li > a {
    background: #365899;
    color: white;
}

.navbar-brand {
    background: #365899;
    color: white !important;
}

.padding-top {
    padding-top: 40px;
}

.user {
    margin: 0 0 20px 0;
}

    .user .user-avatar {
        width: 42px;
        height: 42px;
        float: left;
    }


.user-detail {
    margin-left: 60px;
}



.follow {
    float: right;
}

.itemResult {
    padding: 5px;
}

#postModel > div > div > div.modal-body > textarea {
    max-width: 100%;
}

#postModel > div > div > div.modal-body {
    padding: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

#postModel > div > div > div.modal-header {
    background-color: #4D7EDD;
    color: #fff;
}

/*#photo {
    display: inline;
}*/

.comment-panel {
    background-color: #F8F8F8;
    padding: 10px;
}

.like-count {
    background-color: #F8F8F8;
    padding: 10px;
}

.form {
    background: #fff;
    max-width: 350px;
    margin: -20px auto 0;
    padding: 30px;
    border-radius: 3px;
}

    .form .info {
        color: #365899;
        text-align: center;
    }

    .form .login-input {
        background: #F8F8F8;
        width: 100%;
        height: 50px;
        padding: 15px;
        border-radius: 3px;
        font-size: 14px;
    }

    .form .btn-command {
        background: #365899;
        width: 100%;
        padding: 15px;
        border-radius: 3px;
        font-size: 14px;
        color: white;
    }

        .form .btn-command:hover {
            background: #365899;
        }

.modal-link {
    cursor: pointer;
}


.modal-content {
    width: 600px !important;
    margin: 80px auto !important;
}

.popover {
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

.userinfo.img-responsive {
    width: 200px !important;
    height: auto !important;
}

.suggestion .user .user-detail {
    font-weight: bold;
    margin: 10px !important;
}

.suggestion .user .user-photo {
    padding: 20px 0;
}

.liked {
    /*padding: 0;*/
}

    .liked.likedList {
        padding-top: 45px;
    }

#photo .modal-body {
    padding: 0;
}

.dropzone {
    background: gray;
    border: none !important;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
}

    .dropzone .dz-message {
        margin: 10px 0;
    }

.caption {
    margin-bottom: 10px;
}

.command-link {
    border-top: 1px solid rgba(128, 128, 128, 0.45);
    margin-top: 10px;
}

.commandBox {
    margin-top: 10px;
}

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    left: 50%;
}

#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    left: 50%;
}

.profile {
}

    .profile .user-info {
        margin-bottom: 45px;
    }

        .profile .user-info .user-avatar {
            width: 152px;
            height: 152px;
            border: 2px solid #fff;
        }

        .profile .user-info .user-name {
            font-size: 24px;
            margin-right: 20px;
        }

    .profile .user-description {
        font-size: 17px;
        line-height: 24px;
        margin-top: 14px;
    }



    .profile .user-statistic {
        font-size: 17px;
        line-height: 24px;
        margin-top: 14px;
    }

        .profile .user-statistic ul {
            list-style: none;
            padding: 0;
        }

            .profile .user-statistic ul > li {
                display: inline;
                margin-right: 40px;
            }

    .profile .user-photo .user-photo-image {
        height: 300px;
        width: 300px;
        padding: 10px 0;
    }

    .profile .user-photo .col-sm-4 {
        padding: 5px;
    }

.profile-edit {
    padding-top: 20px;
    background: #fff;
}

    .profile-edit .edit-form {
        border-left: 1px solid #365899;
    }

        .profile-edit .edit-form .edit-title {
            font-size: 24px;
            font-weight: bold;
        }

        .profile-edit .edit-form .form-horizontal .control-label {
            text-align: left;
        }

.sticker-list {
    width: 450px;
}

    .sticker-list img {
        width: 100px;
        height: 100px;
    }
